/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* === General style === */

body {
  background: url(https://i.pinimg.com/originals/77/25/7b/77257b48028fcfa61a3f4ef83f89eb85.jpg) repeat center;
  background-size: cover;
  word-wrap: break-word;
}


.magazin {
  max-width: calc(100vw-15px);
  height: 100vh;
}

.links, .menu, .favorite-product, .header  {
  background-color: rgba(110, 242, 194, 0.4);
}

/* Header Style */

.header {
  width: 90vw;
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo>img {
  padding: .5rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.logo>img:hover {
  transform: scale(1.1);
}

.description {
  width: 75%;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Scheherazade New', serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ==== Content Style ==== */


/* Menu Style */

.menu {
  text-align: center;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 15vh;
  line-height: 7rem;
}

.menu>ul>li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

li:hover {
  font-size: 110%;
}

/* Favorit Product Style */

.favorite-product {
  width: 90vw;
  height: 60vh;

  font-size: 1.2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.product-photo>img {
  width: 10rem;
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: .8rem;
}

.product-photo>img:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 1.6rem;
  padding: .5rem;
}


/* Contact Style */
.contact {
  clear: both;
}

.links {
  background-color: rgba(110, 242, 194, 0.4);
  width: 90vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 780px) {
  
  .header {
    width: 90vw;
    height: 36vh;
  }
  
  .logo>img {
    width: 12rem;
    height: 12rem;
  }

  
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60vh;  
  }
  
  .menu {
    width: 30%;
    height: 60vh;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
  
  .menu>ul>li {
    display: block;
    line-height: 5rem;
  }
  
  .favorite-product {
    width: 65%;
    padding: 1rem;
    float: right;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4rem;
  }
}

@media (max-width: 450px) {
  
    .header {
       height: 60%;
    }
    
    .menu {
      height: 15%;
    }
    
    .favorite-product {
      height: 100%;
    }
  }

